*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: "Calibri", 'Trebuchet MS', sans-serif; text-align: justify;
}

html {
    background-color: rgb(35, 35, 35);
}

#content {
    margin-top: 80px;
}

.content-panel {
    width: 100%;
    position: absolute; margin-top: 80px; top: 0;
}

.hide {
    visibility: hidden;
    overflow: hidden;
}

