:root {
    --gold-light: #ffedbb;
    --gold-light-medium: #ffe396;
    --gold-medium: #dfb011;
    --gold-dark: #977100;
    --gold-deep: #614900;
    --gold-muted: #bd8e00;
    --white: #fff;
    --white-dark: #eee;
    --black: #000;
    --gray-dark: #0f0a00; /* Dark shade derived from --gold-medium (#dfb011) */
    --gray-darker: #0c0700; /* Slightly darker than --gray-dark (#0f0a00) */
    --gold-gradient-light: rgba(199, 162, 0, 0.06);
    --gold-gradient-medium: rgba(255, 232, 131, 0.1);
    --gold-gradient-dark: rgba(187, 131, 0, 0.08);
    --title-color: #ffffff; /* Brighter gold for better contrast */
    --subtitle-color: #ffffff; /* Lighter gold for better contrast */
    --subtitle-color-gold: #fff7cd; /* Darker shade for subtitles */
}

/* Reset styles for all elements to ensure consistent rendering across browsers */
* {
    /* Remove default padding and margin */
    padding: 0; 
    margin: 0;
    /* Set box-sizing to include padding and border in element's total width/height */
    box-sizing: border-box;
    /* Define default font and color for the website */
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
    text-align: justify;
}

html {
    /* Ensure the document spans the full height of the viewport */
    height: 100%;
    margin: 0;
    /* Enable Flexbox layout for the body */
    display: flex;
    flex-direction: column;
}

body {
    /* Remove default margin and set a lightweight font */
    margin: 0;
    font-weight: 100;
}

#content {
    /* Define the main content area with flexible height and a radial gradient background */
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gold-dark);
    color: var(--gold-light);
}

.content-panel {
    /* Allow content panels to adjust height and enable scrolling */
    height: auto;
    width: 100%;
    overflow: auto;
}

a {
    /* Define default link styles */
    color: white;
    text-decoration: none;
}

a:hover {
    /* Change link color and underline on hover */
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

a:visited {
    /* Maintain white color for visited links */
    color: white;
}

a:active {
    /* Slightly darken color for active links */
    color: rgb(180, 180, 180);
}