# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local
.env

# Ignorar carpetas de dependencias (si decides usar npm en el futuro)
node_modules/

# Ignorar archivos de build
dist/
build/

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales
*.tmp
*.temp
