<!-- Navbar Component Example -->
<!-- This is a reusable component that can be included in different pages -->

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ms-md-5 me-md-3">
        <a class="navbar-brand" id="logo-link" href="#">
            <img src="../assets/img/logo.png" alt="Logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-5">
                <li class="nav-item ms-md-3">
                    <a class="nav-link" href="#" id="about-me-link">About me</a>
                </li>
                <li class="nav-item ms-md-3">
                    <a class="nav-link" href="#" id="projects-link" data-bs-toggle="collapse"
                        data-bs-target="#projectsAccordion" aria-expanded="false" aria-controls="projectsAccordion">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 
To use this component in your HTML:
1. Create a placeholder div with an id
2. Use JavaScript to load this component

Example:
<div id="navbar-placeholder"></div>

<script>
    fetch('./components/navbar.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-placeholder').innerHTML = data;
        });
</script>
-->
