/* Define the layout and typography for the About Me page */
#about-me-page {
    padding: 8rem 12rem;
    font-size: 1rem;
    color: white;
    display: none
}

#about-me-page p{
    color: rgb(221, 221, 221);
}

#about-me-page h1, #about-me-page p {
    margin-bottom: 0.75rem;
}

/* Style the general description section with text and image alignment */
#about-me-page #general-description {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

#about-me-page #general-description .column-text {
    flex: 1 1 60%;
}

#about-me-page .about-me-image {
    flex: 1 1 40%;
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 3rem;
}

#about-me-page #general-description #greeting {
    color: rgb(182, 182, 182);
    font-weight: bold;
    margin-bottom: 3rem;
}

#about-me-page #general-description #presentation {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3rem
}

#about-me-page #info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

#about-me-page #info-section i {
    margin-right: 1rem;
}

/* Add hover effects for custom cards */
#about-me-page .custom-card {
    flex: 1 1 calc(33% - 2rem);
    max-width: calc(33% - 2rem);
    min-width: 280px;
    box-sizing: border-box;
    height: auto;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#about-me-page .custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#about-me-page .custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#about-me-page .btn-primary {
    background-color: #565656;
    border: none;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#about-me-page .btn-primary:hover {
    background-color: #303030;
    transform: scale(1.05);
}

#about-me-page .btn-primary:focus, .btn-primary:active {
    background-color: #404040;
    box-shadow: none;
}

/* Define modal styles for displaying detailed information */
#about-me-page .custom-modal .modal-dialog {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me-page .custom-modal .modal-content {
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 1rem 8rem;
}

#about-me-page .custom-modal .modal-header {
    border-bottom: none;
    padding: 1.5rem;
}

#about-me-page .custom-modal .modal-body {
    padding: 2rem;
}

#about-me-page .custom-modal .btn-close {
    background-color: white;
    border: none;
    color: black;
    font-size: 1.2rem;
    opacity: 0.8;
}

#about-me-page .custom-modal .btn-close:hover {
    opacity: 1;
}

.figure-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    margin: 3rem 0;
}

.figure-columns figure {
    flex: 1 1 auto;
    max-width: calc(50% - 1rem);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-me-page .figure-columns img {
    width: auto;
    height: 100%;
    border-radius: 8px;
}

figcaption {
    font-size: 1rem;
    color: rgb(92, 92, 92);
    text-align: center;
}

/* Responsive styles */
/* Add responsive styles for smaller screens */
@media (max-width: 991px) {
    #about-me-page {
        padding: 6rem 9rem;
    }

    #about-me-page #general-description {
        flex-direction: column;
        text-align: center;
    }

    #about-me-page .about-me-image {
        max-width: 100%;
        margin: 0 auto;
    }

    #craneeal figure {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #about-me-page .custom-modal .modal-content {
        padding: 1rem 4rem;
    }
}

@media (max-width: 768px) {
    #about-me-page {
        padding: 4rem 6rem;
    }

    #about-me-page .custom-modal .modal-content {
        padding: 1rem 2rem;
    }
}

@media (max-width: 480px) {
    #about-me-page {
        padding: 2rem 3rem;
    }

    #about-me-page .custom-modal .modal-content {
        padding: 1rem 1rem;
    }
}