/* Define the fixed position and background gradient for the navbar */
header {
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 5; /* Ensure the navbar stays above other elements */
}

.navbar {
    /* Apply a gradient background to the navbar */
    background: linear-gradient(#241a00, #dfaf1100);
}

/* Customize the appearance of navbar links and toggler */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Set text color for links */
}

.navbar-dark .navbar-toggler {
    /* Change the border color of the toggler button */
    border-color: rgb(175, 175, 175);
}

.navbar-dark .navbar-toggler-icon {
    /* Customize the toggler icon with an inline SVG */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28175, 175, 175, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Style the project accordion and its hover effects */
#projectsAccordion {
    margin-top: 80px; /* Add spacing below the navbar */
}

#projectsAccordion .card {
    /* Remove background and border for a clean look */
    background: none;
    border: none;
    padding-left: 50px;
}

#projectsAccordion .list-group-item {
    /* Define hover effects and transitions for project links */
    margin: 1px;
    background: linear-gradient(to right, #7a5f078a, #00000000);
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

#projectsAccordion .list-group-item a {
    /* Style links inside the accordion */
    color: #ffffff;
    text-decoration: none;
}

#projectsAccordion .list-group-item:hover {
    /* Increase font size and change background color on hover */
    font-size: 1.1em;
    background-color: rgba(141, 122, 0, 0.801);
}

/* Add padding to navbar container when collapsed */
.navbar-collapse {
    padding: 10px;
}

/* Define footer styles and responsive adjustments */
.footer {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #362900b4, #382b0000);
    font-size: 0.75em;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

.footer a {
    /* Style footer links */
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    /* Change link color on hover */
    color: #007bff;
}

.footer i {
    /* Add spacing between footer icons */
    margin: 0 0.5rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 990px) {
    #projectsAccordion {
        margin-top: 140px;
    }
    #projectsAccordion .card {
        padding-left: 20px;
    }
}