/* Navbar styles */
header {
    width: 100%;
    position: fixed; top: 0; z-index: 5;
}

.navbar {
    background: linear-gradient(#241a00ea, #dfaf1100);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-toggler {
    border-color: rgb(175, 175, 175); /* Change toggler border color */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28175, 175, 175, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Project accordion styles */
#projectsAccordion .card {
    background-color: #303030; /* Same background color as navbar */
    border: none; /* No border */
}

#projectsAccordion .list-group-item {
    background-color: #303030; /* Same background color as navbar */
    color: #ffffff; /* Same text color as navbar */
    border: none; /* No border */
    transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Smooth transition for font size, background color, and text color change */
}

#projectsAccordion .list-group-item a {
    color: #ffffff; /* Change link text color */
    text-decoration: none; /* Remove link underline */
}

#projectsAccordion .list-group-item:hover {
    font-size: 1.1em; /* Increase font size on hover */
    background-color: #ff0000; /* Change background color on hover */
}

/* Add padding to navbar container when collapsed */
.navbar-collapse {
    padding: 10px; /* Adjust value as needed */
}


.footer {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #362900b4, #382b0000);
    font-size: 0.75em;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

.footer a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición suave al pasar el cursor */
}

.footer a:hover {
    color: #007bff; /* Cambia el color al pasar el cursor */
}

.footer i {
    margin: 0 0.5rem; /* Espaciado entre los íconos */
}