/* General styles for the entire website */
*{
    /* Reset padding and margin for all elements */
    padding: 0; margin: 0;
    box-sizing: border-box;
    /* Set default font and color */
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
    text-align: justify;
}

html {
    /* Ensure the document occupies the full height of the viewport */
    height: 100%; /* The document occupies the full height of the viewport */
    margin: 0; /* Remove default margins */
    display: flex; /* Enable Flexbox on the body */
    flex-direction: column; 
}

body {
    margin: 0;
    min-height: 100vh; /* Change height to min-height */
    font-weight: 100;
    /* overflow-y is controlled by ui.js depending on the active page */
    overflow-y: hidden; /* Default state for home page */
    display: flex; /* Ensure body acts as a flex container if needed */
    flex-direction: column; /* Ensure body acts as a flex container if needed */
}

#content {
    /* Define the main content area with a radial gradient background */
    padding-top: 80px;
    background: radial-gradient(#977100, #291f00);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-panel {
    height: auto;
    width: 100%;
    overflow:auto;
}

a {
    /* Define styles for links */
    color: white;
    text-decoration: none;
}

a:hover {
    /* Define hover state for links */
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

a:visited {
    /* Define visited state for links */
    color: white;
}

a:active {
    /* Define active state for links */
    color: rgb(180, 180, 180);
}