*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
    text-align: justify;
}

html {
    height: 100%; /* El documento ocupa toda la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
    display: flex; /* Activa Flexbox en el cuerpo */
    flex-direction: column; 
}

body {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#977100, #291f00);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

#content {
    flex: 1; /* Permite que el contenido crezca y ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
}

#content {
    margin-top: 80px;
}

.content-panel {
    height: auto;
    width: 100%;
    overflow:auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

a:visited {
    color: white;
}

a:active {
    color: rgb(180, 180, 180);
}